{
  "swagger": "2.0",
  "info": {
    "title": "DawaFinder Getway Api",
    "description": "DawaFinder Getway Api is a getway to access all dawafinder microservices.",
    "version": "1.0.0"
  },
  "host": "api.dawaafinder.com",
  "basePath": "/",
  "schemes": ["https", "https"],
  "tags": [
    {
      "name": "User Api",
      "description": "Operations related to user management"
    },
    {
      "name": "Product And Medicine Api",
      "description": "Operations related to medicine and product management"
    },
    {
      "name": "Inventory Api",
      "description": "Operations related to inventory management"
    },
    {
      "name": "Formulary Api",
      "description": "Operations related to medicine formulary management"
    },
    {
      "name": "Blog Api",
      "description": "Operations related to blog management"
    }
  ],
  "paths": {
    "/userapi": {
      "get": {
        "description": "anyting related to user goes here",
        "tags": ["User Api"],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/productapi": {
      "get": {
        "description": "anyting related to product",
        "tags": ["Product And Medicine Api"],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },

    "/blogapi": {
      "get": {
        "description": "anyting related to blog",
        "tags": ["Blog Api"],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },

    "/formularyapi": {
      "get": {
        "description": "anyting related to product",
        "tags": ["Formulary Api"],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/inventoryapi": {
      "get": {
        "description": "anyting related to product",
        "tags": ["Inventory Api"],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    }
  }
}
