{
  "swagger": "2.0",
  "info": {
    "title": "DawaFinder Getway Api",
    "description": "DawaFinder Getway Api is a getway to access all dawafinder microservices.",
    "version": "1.0.0"
  },
  "host": "api.dawaafinder.com",
  "basePath": "/",
  "schemes": ["http", "https"],
  "tags": [
    {
      "name": "Customers",
      "description": "Operations related to customers"
    },
    {
      "name": "HealthOrgs",
      "description": "Operations related to health organizations"
    },
    {
      "name": "SystemAdmins",
      "description": "Operations related to system administrators"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "description": "Customers",
        "tags": ["Customers"],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/customers/": {
      "get": {
        "description": "Customers",
        "tags": ["Customers"],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/customers/login": {
      "post": {
        "description": "",
        "tags": ["Customers"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "phoneNumber": {
                  "example": "0948952757"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/api/v1/customers/deleted": {
      "get": {
        "description": "",
        "tags": ["Customers"],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/customers/{customerId}": {
      "get": {
        "description": "",
        "tags": ["Customers"],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "delete": {
        "description": "",
        "tags": ["Customers"],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      },
      "patch": {
        "description": "",
        "tags": ["Customers"],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "fullName": {
                  "example": "Bernabas Tekkalign"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/api/v1/health-orgs/": {
      "get": {
        "description": "",
        "tags": ["HealthOrgs"],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "description": "",
        "tags": ["HealthOrgs"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "phoneNumber": {
                  "example": "any"
                },
                "firstName": {
                  "example": "any"
                },
                "lastName": {
                  "example": "any"
                },
                "password": {
                  "example": "any"
                },
                "confirmPassword": {
                  "example": "any"
                },
                "email": {
                  "example": "any"
                },
                "role": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/api/v1/health-orgs/login": {
      "post": {
        "description": "",
        "tags": ["HealthOrgs"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "password": {
                  "example": "any"
                },
                "phoneNumber": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/health-orgs/{healthOrgId}": {
      "get": {
        "description": "",
        "tags": ["HealthOrgs"],
        "parameters": [
          {
            "name": "healthOrgId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "delete": {
        "description": "",
        "tags": ["HealthOrgs"],
        "parameters": [
          {
            "name": "healthOrgId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      },
      "patch": {
        "description": "",
        "tags": ["HealthOrgs"],
        "parameters": [
          {
            "name": "healthOrgId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "firstName": {
                  "example": "any"
                },
                "lastName": {
                  "example": "any"
                },
                "profilePicture": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/api/v1/health-orgs/{healthOrgId}/remove": {
      "delete": {
        "description": "",
        "tags": ["HealthOrgs"],
        "parameters": [
          {
            "name": "healthOrgId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/api/v1/health-orgs/{healthOrgId}/restore": {
      "patch": {
        "description": "",
        "tags": ["HealthOrgs"],
        "parameters": [
          {
            "name": "healthOrgId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/api/v1/health-orgs/{healthOrgId}/change-password": {
      "patch": {
        "description": "",
        "tags": ["HealthOrgs"],
        "parameters": [
          {
            "name": "healthOrgId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "oldPassword": {
                  "example": "any"
                },
                "newPassword": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/api/v1/health-orgs/{healthOrgId}/upgrade-to-admin": {
      "patch": {
        "description": "",
        "tags": ["HealthOrgs"],
        "parameters": [
          {
            "name": "healthOrgId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/api/v1/health-orgs/{healthOrgId}/upgrade-to-super-admin": {
      "patch": {
        "description": "",
        "tags": ["HealthOrgs"],
        "parameters": [
          {
            "name": "healthOrgId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/api/v1/health-orgs/{healthOrgId}/downgrade-to-admin": {
      "patch": {
        "description": "",
        "tags": ["HealthOrgs"],
        "parameters": [
          {
            "name": "healthOrgId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/api/v1/health-orgs/{healthOrgId}/downgrade-to-employee": {
      "patch": {
        "description": "",
        "tags": ["HealthOrgs"],
        "parameters": [
          {
            "name": "healthOrgId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/api/v1/system-admins/": {
      "get": {
        "description": "",
        "tags": ["SystemAdmins"],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "description": "",
        "tags": ["SystemAdmins"],
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/api/v1/system-admins/login": {
      "post": {
        "description": "",
        "tags": ["SystemAdmins"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "username": {
                  "example": "any"
                },
                "password": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/system-admins/{systemAdminId}": {
      "get": {
        "description": "",
        "tags": ["SystemAdmins"],
        "parameters": [
          {
            "name": "systemAdminId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "delete": {
        "description": "",
        "tags": ["SystemAdmins"],
        "parameters": [
          {
            "name": "systemAdminId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      },
      "patch": {
        "description": "",
        "tags": ["SystemAdmins"],
        "parameters": [
          {
            "name": "systemAdminId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "firstName": {
                  "example": "any"
                },
                "lastName": {
                  "example": "any"
                },
                "profilePicture": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/api/v1/system-admins/{systemAdminId}/remove": {
      "delete": {
        "description": "",
        "tags": ["SystemAdmins"],
        "parameters": [
          {
            "name": "systemAdminId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/api/v1/system-admins/{systemAdminId}/restore": {
      "patch": {
        "description": "",
        "tags": ["SystemAdmins"],
        "parameters": [
          {
            "name": "systemAdminId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/api/v1/system-admins/{systemAdminId}/upgrade-role": {
      "patch": {
        "description": "",
        "tags": ["SystemAdmins"],
        "parameters": [
          {
            "name": "systemAdminId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/api/v1/system-admins/{systemAdminId}/downgrade-role": {
      "patch": {
        "description": "",
        "tags": ["SystemAdmins"],
        "parameters": [
          {
            "name": "systemAdminId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/api/v1/system-admins/{systemAdminId}/change-password": {
      "patch": {
        "description": "",
        "tags": ["SystemAdmins"],
        "parameters": [
          {
            "name": "systemAdminId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "oldPassword": {
                  "example": "any"
                },
                "newPassword": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    }
  }
}
